<html>
    <head>
        <script>
            document.getElementById("para").innerHTML = "Hello JavaScript!";
        </script>
    </head>
    <body>
        <p id="para"></p>
    </body>
</html>